.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 5px;
}

.routerTitle {
  display: flex;
  align-items: center;

  & > span {
    font-size: 18px;
    font-weight: bold;
  }

  & > span:first-child {
    margin-right: 10px;
  }

  caret-color: transparent;
  cursor: pointer;
}

.self {
  display: flex;
  align-items: center;
}
