.header {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
}

.title {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 600;
  color: #000000;
}

.link {
  color: #387de4;
  font-size: 18px;
}
