.homeCard {
  width: 200px;
  height: 300px;

  box-shadow: 0 0 10px #00000030;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 0;
}

.imgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;

  box-shadow: 0 0 10px #00000030;
  border-radius: 5px;

  margin-bottom: 30px;

  object-fit: cover;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.content {
  width: 100%;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stars {
  margin-bottom: 17px;

  & > svg {
    width: 15px;
  }
}

.uid {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: #9e1616;
}
